body {
  /* background-image: linear-gradient(-235, #9266ff, #973416); */
  background-color: #c2b5e9;
  /* Chrome, Safari4+ */
  /* background: -webkit-linear-gradient(
    left,
    transparent 0%,
    #fff 50%,
    transparent 100%
  ); */
}
.App {
  background-color: #533e83;
  /* min-height: 500px;
  width: 400px;
  margin: 40px auto; */
  min-height: 90vh;
  width: 99%;
  margin: 40px auto;
}

@media (max-width: 770px) {
  .App {
    min-height: 90vh !important;
    width: 99% !important;
    margin: 40px auto !important;
  }
}

#to-do-form input {
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 1rem;
  border-radius: 10px;
  color: #fff;
}

#to-do-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#to-do-form input:focus #to-do-form button:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: 1500;
  color: #fff;
  font-size: 1rem;
}
